<h1>Editar</h1>

    <% if @supplier.errors.any?%>
    <ul>
        <% @supplier.errors.full_messages.each do |msg|%>
            <li><%= msg%></li>
        <%end%>
    </ul>
    <p>Não foi possível atualizar</p>
    <%end%>
<%= render 'form'%>